doctype html 
html 
    head 
        link(rel="stylesheet", href="/css/main.css") 
        title Pioneer | About
    body 
        h1.page.page__heading About
        p.page.page__text-block About Page Temporary