doctype html
include navbar.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Account Setting 
  body.page
    h1.page.page__heading Account Settings 
    p.page.page__text-block Temporary Account Settings Page 
    