doctype html
include navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Admin Panel 
  body
    .page
      .card-container           
        .card  
          .card__content 
            h3.card__content__title Database Settings  
            p.card__content__paragraph Database Settings  
            a.card__content__button(href="/database-settings") Access
        
        .card  
          .card__content 
            h3.card__content__title User Settings  
            p.card__content__paragraph Database Settings  
            a.card__content__button(href="/user-settings") Access 