doctype html
include navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Admin Panel 
  body
    .page
      h1.page.page__heading Admin Panel 
      p.page.page__text-block Temporary Admin Panel Page