doctype html
include navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Contact Us
  body
    .page
      h1.page.page__heading Contact Us
      p.page.page__text-block pioneers@helpdesk.co.uk
    