doctype html
include navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Countries  
  body
    .page
      h1.page.page__heading Countries
      p.page.page__text-block Temporary Countries Page