doctype html
include navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Dashboard 
  body.page
    h1.page.page__heading Dashboard 
    p.page.page__text-block Dashboard View 
    