doctype html
include navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Dashboard 
  body
    .page
      h1.page.page__heading Dashboard
      .card-container           
        .card  
          img.card__img(src="images/dashboard/continent-icon.png", alt="Continent")
          .card__content 
            h3.card__content__title Continent 
            p.card__content__paragraph Continent Database 
            a.card__content__button(href="/continent") Access 

        .card  
          img.card__img(src="images/dashboard/country-icon.png", alt="Countries")
          .card__content 
            h3.card__content__title Countries 
            p.card__content__paragraph Countries Database 
            a.card__content__button(href="/countries") Access 
        
        .card  
          img.card__img(src="images/dashboard/region-icon.png", alt="Region")
          .card__content 
            h3.card__content__title Region 
            p.card__content__paragraph Region Database 
            a.card__content__button(href="/region") Access
        
        .card  
          img.card__img(src="images/dashboard/district-icon.png", alt="District")
          .card__content 
            h3.card__content__title District 
            p.card__content__paragraph District Database 
            a.card__content__button(href="/district") Access
        
        .card  
          img.card__img(src="images/dashboard/city-icon.png", alt="Cities")
          .card__content 
            h3.card__content__title Cities 
            p.card__content__paragraph Cities Database 
            a.card__content__button(href="/cities") Access

        .card  
          img.card__img(src="images/dashboard/language-icon.png", alt="Languages")
          .card__content 
            h3.card__content__title Languages 
            p.card__content__paragraph Languages Database 
            a.card__content__button(href="/languages") Access
        