doctype html
include navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer
  body.page
    h1.page.page__heading Home
    p.page.page__text-block Temporary Home Page 
    