doctype html 
html 
    head 
        link(rel="stylesheet", href="/css/main.css") 
        title Website 
    body 
        h1.page.page__heading Home
        p.page.page__text-block Hello World this is a text block