doctype html
include navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Languages 
  body
    .page
      h1.page.page__heading Languages
      p.page.page__text-block Temporary Language Page