script(src="https://kit.fontawesome.com/17c0fad60d.js" crossorigin="anonymous")
link(rel="stylesheet", href="/css/main.css")
nav.navbar
  a.navbar__logo(href="/") Pioneer 
  .navbar__bars 
    i(class="fas fa-bars")
  .navbar__menu 
    a.navbar__menu--links(href="/") Home
    a.navbar__menu--links(href="/about") About
    a.navbar__menu--links(href="/contact") Contact
    a.navbar__menu--links#signupButton(href="/signup") Sign Up