doctype html
include navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Sign Up
  body.page
    h1.page.page__heading Sign Up
    p.page.page__text-block Temporary Sign Up Page
    